@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body,h1,h2,h3,h4,h5,h6,p,span{
    font-family: 'Roboto';
    color: #333333;
}
body *{
    -webkit-appearance: none;
}
div#bx-panel *,div.bx-core-popup-menu *{
    color: inherit;
}
body img{
    width: 100%;
}
body form{
    margin: 0;
}
body{
    margin: 0;
}


body header#global_header{
    position: fixed;
    width: 100%;
    height: 45px;
    color: #ffffff;
    background-color: #333333;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-shadow: inset 0 -2px 0 -1px rgba(255, 255, 255, .3);
    box-shadow: inset 0 -2px 0 -1px rgba(255, 255, 255, .3);
    z-index: 100;
    top: 0;
}

body header#global_header #global_header-mobile_menu #global_header-logo_img,body header#global_header #global_header-mobile_menu #global_header-logo_img_m{
    width: 100%;
    height: 100%;
}

body header#global_header.header-out {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
body header#global_header.menu_opened{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
body header#global_header .navbar-toggler{
    width: 100%;
    height: 100%;
    padding: 0;
    outline: none;
    border: 0;

    -webkit-box-shadow: none;

    box-shadow: none;
    max-width: 45px;
}
/* оформление иконки */

.burger_icon {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    -o-transition: transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
.burger_icon path{
    fill: none;
    -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    -o-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke-width: 5.5;
    stroke-linecap: round;
}
.burger_icon.active {
    -webkit-transform: rotate(180deg) scale(1.5);
    -ms-transform: rotate(180deg) scale(1.5);
    transform: rotate(180deg) scale(1.5);
}
.burger_icon .top {
    stroke-dasharray: 40 82;
}
.burger_icon .bottom {
    stroke-dasharray: 40 82;
}
.burger_icon.active .top {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}
.burger_icon.active .bottom {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}

body .burger_icon path{
    stroke: white;
}

#global_header-mobile_menu-links>*{
    width: 100%;
    max-width: 45px;
    text-align: center;
}

body #global_header .navbar-collapse{
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333333;

    -webkit-transform: translateX(100%);

    -ms-transform: translateX(100%);

    transform: translateX(100%);

    -webkit-transition: .3s;

    -o-transition: .3s;

    transition: .3s;
}
body #global_header .navbar-collapse.show{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

body #global_header .hmb_cols{
    margin-top: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
body #global_header .hmb_cols > div{
    width: calc((100% - 30px) / 2);
}

body #global_header #mobile_navigation_bar-social_links .hmb_col_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 7px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
body #global_header #mobile_navigation_bar-social_links .hmb_col_list a{
    width: 40px;
    height: 40px;
    margin-top: 0;
}
body #global_header #mobile_navigation_bar nav{
    margin-top: 15px;
}
body #global_header #mobile_navigation_bar nav li{
    margin-top: 15px;
}
body #global_header #mobile_navigation_bar nav li>a,body #global_header #mobile_navigation_bar li>.like_link{
    color: white;
    text-decoration: none;

    font-size: 21px;
}


body #global_header .hmb_col_title{
    color: #fff;
    opacity: .5;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}
body #global_header .hmb_col_list{
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

body #global_header .hmb_col_list > a:nth-of-type(n+2),body footer#main_footer .hmb_col_list > a:nth-of-type(n+2) {
    margin-top: 5px;
}
body #global_header .hmb_col_list a,body footer#main_footer .hmb_col_list a {
    color: #fff;
}
body #global_header .hmb_cols > div:nth-of-type(n+3),body footer#main_footer .hmb_cols > div:nth-of-type(n+3){
    margin-top: 20px;
}
body #global_header .hmb_btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    height: 57px;
    background-color: #FF0C00;
    color: #fff;
    width: 100%;
}

body #global_header #mobile_navigation_bar .multilevel_custom_menu{
    background: none;
    border: none;
}
body #global_header #mobile_navigation_bar>.hmb_menu{
    position: relative;
    overflow: hidden;
}
body #global_header #mobile_navigation_bar .multilevel_custom_menu ul{
    list-style: none;

    height: 260px;
}
body #global_header #mobile_navigation_bar .multilevel_custom_menu ul>li{
    position: inherit;
}
body #global_header #mobile_navigation_bar .multilevel_custom_menu ul>li>.bx_children_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 260px;
    z-index: 5;
    color: #ffffff;
    background-color: #333333;
    padding: 10px;

    transition: all 0.5s ease;
    transform: translateX(-100%);
}
body #global_header #mobile_navigation_bar .multilevel_custom_menu ul>li.active_sub>.bx_children_container{
    transform: translateX(0);
}
.backstep{
    cursor: pointer;
}





section>.container h2{
    font-weight: 700;
}
#frontpage-banner{
    margin-top: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#frontpage-banner .banner_data{
    background-color: rgba(0,0,0,0.3);
    padding: 5px;
}
#frontpage-banner h1{
    font-size: 27px;

    color: white;
}
#frontpage-banner p{
    font-size: 16px;
    font-weight: 300;
    color: #f2f2f2;
}
#frontpage-banner a.btn {
    width: 143px;
    height: 40px;
    background-color: #249D4D;
    padding: 8px 19px;
    color: white;
    font-family: 'Roboto';
    font-size: 16px;
}

#about_us #about_us-items{
    background-color: #F8F8F8;
}
#about_us #about_us-items .about_us-item>div{
    position: relative;
}
#about_us #about_us-items .about_us-item>div>div{
    gap: 10px;
}
#about_us #about_us-items .about_us-item>div:after{
    content: '';
    width: 113px;
    height: 1px;
    background-color: #5454544D;
    margin: auto;
}
#about_us #about_us-items .about_us-item:last-child>div:after{
    content: unset;
}
#about_us #about_us-items .about_us-item span{
    color: #249D4D;
    font-size: 47px;
    font-weight: 700;
}
#about_us #about_us-items .about_us-item p{
    color: #333333;
    font-size: 14px;
    line-height: 16px;
}

#partnership #partnership-slider .carousel-item{
    background-size: cover;

    padding: 15px;
    min-height: 445px;
}
#partnership #partnership-slider .carousel-item>.slide_data{
    padding: 5px;
    background-color: rgba(255,255,255,0.5);
}
#partnership #partnership-slider .carousel-item h4{
    font-size: 27px;
    color: #333333;
    font-weight: 500;
}
#partnership #partnership-slider .carousel-item p{
    font-size: 16px;
}
#partnership #partnership-slider .carousel-item a.btn{
    color: white;
    background-color: #249D4D;
    width: 175px;
    height: 49px;
    padding: 10px 0;
}
#partnership #partnership-slider button.carousel-control-prev,#partnership #partnership-slider button.carousel-control-next{
    width: 40px;
    height: 40px;
    background-color: #333333;
    opacity: 1;

    top: unset;
    bottom: 15px;

    border-radius: 5px;
}
#partnership #partnership-slider button.carousel-control-next{
    right: 5px;
}
#partnership #partnership-slider button.carousel-control-prev{
    left: unset;
    right: 50px;
}

#map{
    overflow: hidden;
}
#map>.yandex-map{
    position: relative;
}
#map #map-navigation{
    top: 7px;
    position: absolute;
    z-index: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    left: 0;
}
#map  #list_of_adreses{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    -webkit-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    transform: translateX(-120%);
    z-index: 2;
    overflow: scroll;
    overflow-x: hidden;

    -webkit-transition: all 0.6s ease;

    -o-transition: all 0.6s ease;

    transition: all 0.6s ease;
}
#map  #list_of_adreses.show{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
#map #list_of_adreses ul{
    list-style: none;
}
#map #list_of_adreses ul>li{
    min-height: 45px;
    border-right: 1px solid #e9e9e9;
}
#map #list_of_adreses>div{
    max-width: 90%;
    padding-top: 15px;
    padding-left: 15px;
}
#map #close_list.burger_icon path{
    stroke: black;
}
#map #close_list{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 2px;
    top: 2px;
}
#map #sidemap{
    height: 600px;
}
#map #map-navigation>div{
    background-color: #249D4D;
    color: white;
    font-size: 14px;

    width: 140px;
    padding: 5px 15px;
}
#map #map-navigation>#show_list_of_adreses{
    background-color: #8B8B8B;
}
footer#global_footer{
    background-color: #333333;
}
footer#global_footer #global_footer-links li>a{
    font-size: 16px;

    font-weight: 300;
    color: white;
    text-decoration: none;
}
footer#global_footer #global_footer-links li.lighted>a{
    font-size: 18px;
}
footer#global_footer #global_footer-searcher form{
    margin: 0;

    position: relative;
}
footer#global_footer #global_footer-searcher input[type="text"]{
    color: white;
    font-size: 16px;
    font-weight: 300;

    padding: 5px 15px;
    width: 100%;
    height: 44px;

    border-radius: 3px;
    border: 1px solid white;

    background-color: transparent;
}
footer#global_footer #global_footer-searcher button[type="submit"]{
    position: absolute;
    right: 7px;
    top: 7px;

    background: none;
    outline: none;
    border: none;
}
footer#global_footer #global_footer-social_links span,footer#global_footer #global_footer-social_links_md span{
    color: #F2F2F2;
    font-size: 18px;
    font-weight: 400;
}
footer#global_footer #global_footer-social_links>.d-flex,footer#global_footer #global_footer-social_links_md>.d-flex{
    gap: 10px;
}
footer#global_footer #global_footer-after_footer_data{
    border-top: 1px solid #F2F2F2;
}
footer#global_footer #global_footer-after_footer_data>p{
    color: #F2F2F2;
}
#product_categories #product_categories-list{
    gap: 2px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bx-breadcrumb .bx-breadcrumb-item a{
    text-decoration: none;
}
.bx-breadcrumb .bx-breadcrumb-item a>span,.bx-breadcrumb .bx-breadcrumb-item{
    color: #333333;
    font-size: 14px;
}

#page_navigation{
    width: 100%;
    max-width: 367px;

    margin: auto;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#page_navigation #page_navigation-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 15px;
}
#page_navigation #page_navigation-nav>*{
    font-size: 16px;
}
#page_navigation #page_navigation-nav>b{
    color: #333333;
}
#page_navigation #page_navigation-nav>a{
    text-decoration: none;
    color: #8B8B8B;
}

#inner_page-data .filter-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}
#inner_page-data .filter-block>a{
    font-size: 16px;
    text-decoration: none;
    color: #333333;
}
#inner_page-data .filter-block>a.filter-active{
    text-decoration: underline;
    color: #249D4D;
}

@media(min-width: 576px){
    #map #map-navigation{
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        left: 10px;
        gap: 7px;
        max-width: calc(100% - 10px);
    }
}

@media(min-width: 768px){
    body header#global_header #global_header-mobile_searcher{
        -webkit-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease;

        position: relative;
    }
    body header#global_header #global_header-mobile_searcher.show{
        max-width: 220px;
    }
    body header#global_header #global_header-mobile_searcher > #global_header-mobile_searcher-openner{
        z-index: 1;
    }
    body header#global_header #global_header-mobile_searcher.show > #global_header-mobile_searcher-openner{
        display: none;
    }

    body header#global_header #global_header-searcher{
        position: absolute;
        z-index: -10;

        top: 0;
        opacity: 0;
    }
    body header#global_header #global_header-mobile_searcher.show #global_header-searcher{
        opacity: 1;
        z-index: 10;
    }
    body header#global_header #global_header-searcher form{
        margin: 0;

        position: relative;
    }
    body header#global_header #global_header-searcher input[type="text"]{
        color: white;
        font-size: 16px;
        font-weight: 300;

        padding: 5px 15px;
        width: 100%;
        height: 30px;

        border-radius: 3px;
        border: 1px solid white;

        background-color: transparent;
    }
    body header#global_header #global_header-searcher button[type="submit"]{
        position: absolute;
        right: 1px;
        top: 1px;

        background: none;
        outline: none;
        border: none;
    }

    #frontpage-banner{
        height: 400px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #about_us #about_us-items .about_us-item>div{
        gap: 10px;
    }
    #about_us #about_us-items .about_us-item span{
        font-size: 65px;
    }
    #about_us #about_us-items .about_us-item>div:after{
        width: 1px;
        height: 113px;
    }
    #partnership #partnership-slider .carousel-item h4{
        font-weight: 700;
    }

    section#news>.container>.section_title a{
        color: #249D4D;
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 10px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media(min-width: 991px){
    body header#global_header{
        background-color: #ffffff;
        height: 65px;
    }
    #frontpage-banner{
        margin-top: 65px;
    }


    body #global_header  #global_header-main_menu-searcher{
        position: absolute;
        height: 65px;
        width: 325px;
        background-color: white;

        -webkit-transition: all 0.5s ease;

        -o-transition: all 0.5s ease;

        transition: all 0.5s ease;

        top: 0;
        right: 0;

        -webkit-transform: translateX(100%);

        -ms-transform: translateX(100%);

        transform: translateX(100%);
    }
    body #global_header  #global_header-main_menu-searcher.show{
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    #hide_searcher>svg{
        width: 30px;
        height: 30px;
    }

    body header#global_header #global_header-main_menu-searcher form{
        margin: 0;

        position: relative;
    }
    body header#global_header #global_header-main_menu-searcher form button[type="submit"]>svg path{
        fill: black;
    }
    body header#global_header #global_header-main_menu-searcher input[type="text"]{
        color: black;
        font-size: 16px;
        font-weight: 300;

        padding: 5px 15px;
        width: 100%;
        height: 30px;

        border-radius: 15px;
        border: 1px solid black;

        background-color: transparent;
    }
    body header#global_header #global_header-main_menu-searcher button[type="submit"]{
        position: absolute;
        right: 1px;
        top: 1px;

        background: none;
        outline: none;
        border: none;
    }

    #map #list_of_adreses{
        width: 315px;
    }
}

@media(min-width: 1024px){
    #frontpage-banner h1{
        font-weight: 700;
        font-size: 50px;
    }
    #frontpage-banner p{
        font-size: 18px;
    }
    #frontpage-banner a.btn{
        width: 234px;
        height: 60px;
        padding: 16px 42px;
        font-size: 18px;
    }
    section>.container h2{
        font-size: 36px;
    }
    #about_us #about_us-items .about_us-item span {
        font-size: 90px;
    }
    #about_us #about_us-items .about_us-item p{
        font-size: 22px;
        line-height: 24px;
    }
    #partnership #partnership-slider .carousel-item>.slide_data>.slide_counter{
        font-size: 18px;
        color: #333333;
    }
    #partnership #partnership-slider .carousel-item>.slide_data>.slide_counter>span{
        color: #8B8B8B;
    }
    #partnership #partnership-slider .carousel-item h4{
        font-size: 27px;
        font-weight: 500;
    }
    #partnership #partnership-slider .carousel-item p{
        font-size: 18px;
    }
    #partnership #partnership-slider .carousel-item a.btn{
        font-size: 18px;
    }

    #map #map-navigation>div{
        width: 205px;
        height: 50px;
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #map #map-navigation{
        top: 10px;
    }
    #map #list_of_adreses {
        width: 445px;
    }
    #map #list_of_adreses ul>li{
        font-size: 18px;
    }
    footer#global_footer #global_footer-links li.lighted>a{
        font-weight: 700;
    }
}
@media(min-width: 1400px){
    footer#global_footer>.container>.row>.col-xxl-3{
        width: 22%;
    }
    footer#global_footer>.container>.row>.col-xxl-6{
        width: 56%;
    }
}
@media(min-width: 1520px){
    body #global_header #global_header-main_menu>.col-lg-3{
        padding-left: 0;
    }
    #frontpage-banner{
        height: 680px;
        background-size: cover;
    }
    #frontpage-banner .banner_data{
        background: unset;
    }
    #frontpage-banner p{
        line-height: 25.2px;
        margin-top: 30px;
    }
    #frontpage-banner a.btn{
        margin-top: 30px;
    }

    section>.container>.section_title{
        margin-top: 85px;
    }
    #about_us #about_us-items .about_us-item>div>div{
        gap: 20px;
    }

    #partnership #partnership-slider .carousel-item>.slide_data{
        background-color: unset;
    }
    #partnership #partnership-slider .carousel-item h4{
        font-weight: 700;
    }
    #partnership #partnership-slider .carousel-item a.btn{
        width: 200px;
    }
    #partnership #partnership-slider .carousel-item{
        height: 480px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #partnership #partnership-slider .carousel-item>.slide_data{
        height: 380px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    #partnership #partnership-slider button.carousel-control-prev, #partnership #partnership-slider button.carousel-control-next{
        bottom: 25px;
    }
    #partnership #partnership-slider button.carousel-control-prev {
        right: 75px;
    }
    #partnership #partnership-slider button.carousel-control-next{
        right: 25px;
    }

    #product_categories #product_categories-list{
        gap: unset;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}.example {
     display: -ms-grid;
     display: grid;
     -webkit-transition: all .5s;
     -o-transition: all .5s;
     transition: all .5s;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
     background: -o-linear-gradient(top, white, black);
     background: linear-gradient(to bottom, white, black);
 }